<div class="container bg-light">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          Sign up for an Account
        </div>
        <div class="card-body">
          <%= simple_form_for @sign_up, url: :taxpayer_sign_ups do |f| %>
            <%= f.input :email %>
            <%= f.input :password %>
            <%= f.input :password_confirmation %>
            <%= f.submit "Create Account", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>
